body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

ul {
  text-decoration: none;
  list-style: none;
}

.app {
  width: 50%;
  background-color: rgb(224, 230, 227);
  margin: 0 auto;
  padding: 10px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(218, 99, 2);
}

.header-currencies {
  display: flex;
  justify-content: space-between;
  color: rgb(59, 65, 10);
}

.header-currencies li {
  padding: 8px;
}

.converter {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.amount-input {
  display: inline-block;
  padding: 5px;
  width: 20%;
  font-size: 16px;
}

.currency-select {
  font-size: 16px;
}

.error {
  font-size: 12px;
  color: red;
}
